<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>Bienvenidxs a MercadoLiebre</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--Linkearlos-->
<link href="/css/main.css" rel="stylesheet" type="text/css">


</head>

<body>

<header>
    <!--Encabezado-->
    <img alt="Logo MercadoLiebre" src="/images/logo-mercado-liebre.svg">

    <section>
        Lugar de barra de búsqueda
        </section>
        <h3>Comprá en cuotas y sin tarjeta de crédito!</h3>


        <nav>
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul>
                <li>Creá tu cuenta</li>
                <li>Ingresá</li>
                <li>Mis compras</li>
            </ul>
        </nav>

    <!--Aca termina-->

</header>

<main>
    <section>
        <h2>Basado en tu ultima visita</h2>

        <article>
<!--Imagen del producto-->
            <img src="/images/img-cafetera-moulinex.jpg" width="300">
            <!--Párrafos-->
            <p>$6.770</p>
            <p>40% off</p>
            <p> <strong>Cafetera Moulinex </strong></p>

        </article>
      
    </section>

    <section>

    </section>

</main>

<footer>

</footer>
</body>

</html>